/*首页的特殊样式*/
#head{
	box-shadow	: 2px 2px 1px lightgrey;
}

#article_time{
	direction	:rtl;
}

#head_name{
	display		:inline;
	float		:left;
	text-align	:left;
	font-size	:1.7em;
	text-shadow: 3px 3px 3px #939393;
}

#header_funs{
	text-align	:right;
	font-family	:HanYiSongChangJian;
}

#main{
	box-shadow	: 2px 2px 3px white;
	padding-bottom: 0px;
    padding-top: 0px;
}

hr{
	margin		:5px;
	color		:lightgrey;
}

.sub_head{
	margin		:5px;
	color		:#585858;

}

#recent_read{
	float		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}

.recent_read_list{
	margin-left	:15px;
	
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("/source/img/feed-icon-14x14.png") no-repeat 0 50%;
} 

#blog_list{
	float		:right;
	width		:78%;
	box-shadow	: 2px 2px 3px lightgrey;
	
}

.list_blog{
	width			:98%;
	margin-left		:5px;
	margin-bottom	:15px;
	padding-bottom	:5px;
	padding-top		:7px;
	box-shadow		: 2px 2px 3px #b0b0b2;
	transition-property: background-color;
	transition-duration: 1s;
}

.list_blog:hover{
	background-color:#fae2b3;
}

.blog_title{
	margin-left	:5px;
	margin-bottom:5px;
	font-size	:1.2em;
	text-shadow: 1px 1px 1px #939393;
	display		:inline;
}

.blog_profile{
	margin-left	:10px;
	color		:#666465;
	font-size	:1em;
}

.blog_date{
	display		:inline;
	direction	:rtl;
	font-size	:0.8em;
	margin-left	:5px;
}

#apps{
	float		:left;
	margin-top	:20px;
	clear		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}

#app_1,#link_1{margin:7px;}

#links{
	float		:left;
	margin-top	:20px;
	padding-bottom:7px;
	clear		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}


