/*首页的特殊样式*/
#head{
	box-shadow	: 2px 2px 1px lightgrey;
}

#article_time{
	direction	:rtl;
}

#head_name{
	display		:inline;
	float		:left;
	text-align	:left;
	font-size	:1.5em;
	text-shadow: 3px 3px 3px #939393;
}

#header_funs{
	text-align	:right;
}

#main{
	box-shadow	: 2px 2px 3px white;
}

hr{
	margin		:5px;
	color		:lightgrey;
}

.sub_head{
	margin		:5px;
	color		:#585858;

}

#recent_read{
	float		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}

.recent_read_list{
	margin-left	:15px;
	
}

#blog_list{
	float		:right;
	width		:78%;
	box-shadow	: 2px 2px 3px lightgrey;
	
}

.list_blog{
	width		:98%;
	margin-left	:5px;
	margin-top	:15px;
	margin-bottom:15px;
	padding-bottom:10px;
	box-shadow	: 2px 2px 3px #b0b0b2;
	transition-property: background-color;
	transition-duration: 1s;
}

.list_blog:hover{
	background-color:#ececec;
}

.blog_title{
	margin-left	:5px;
	margin-bottom:5px;
	font-size	:1.2em;
	text-shadow: 1px 1px 1px #939393;
	display		:inline;
}

.blog_profile{
	margin-left	:5px;
	color		:#666465;
	font-size	:1.07em;
}

.blog_date{
	display		:inline;
	direction	:rtl;
	font-size	:0.8em;
	
}

#apps{
	float		:left;
	margin-top	:20px;
	clear		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}

#app_1,#link_1{margin:7px;}

#links{
	float		:left;
	margin-top	:20px;
	clear		:left;
	width		:20%;
	box-shadow	: 2px 2px 3px lightgrey;
}
