#main{
	box-shadow	: 2px 2px 3px white;
	padding	:0px;
	margin	:20px;;
}

hr{
	margin		:5px;
	color		:lightgrey;
}

.sub_head{
	margin		:5px;
	font-size	:1.2em;
	color		:#585858;

}

#blog_class{
	float		:left;
	width		:20%;
	margin-top	:20px;
	box-shadow	: 2px 2px 3px lightgrey;
}

#blog_list{
	float		:right;
	width		:78%;
	box-shadow	: 2px 2px 3px lightgrey;
	
}

.list_blog{
	width		:98%;
	margin-left	:5px;
	margin-top	:10px;
	margin-bottom:10px;
	padding-bottom:1px;
	box-shadow	: 2px 2px 3px #b0b0b2;
	transition-property: background-color;
	transition-duration: 1s;
}

.list_blog:hover{
	background-color:#ececec;
}

.blog_title{
	margin-left	:5px;
	margin-bottom:5px;
	font-size	:1.2em;
	text-shadow: 1px 1px 1px #939393;
	display		:inline;
}

.blog_profile{
	margin-left	:5px;
	color		:#666465;
	font-size	:1.07em;
}

.blog_date{
	display		:inline;
	direction	:rtl;
	font-size	:0.8em;
	
}

.class_list{
	margin:15px 0px;
	text-align:center;
}
