body{
	background-color:white;
}

h1{
	font-family	:HanYiSongChangJian;
	margin-left	:10px;
}

.question{
	cursor		:help;
}

hr{
	margin-top	:10px;
	color		:#e3e3e3;
}

.blog_date{
	display		:block;
	margin-right:15px;
}

article{
	line-height: 1em;
	font-size: 1.1em;
	text-indent: 20px;
	font-family: SimSun;
}